{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой проект{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% bootstrap_css %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Логотип</a>
            {% block nav %}
                <!-- Навигационное меню -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Студенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О сервисе</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            {% endblock %}
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:profile' request.user.username %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    </li>   
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
            <!-- Контент страницы -->
        {% endblock %}
    </main>

    <footer id="footer" class="bg-light">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="{% static 'images/vk.png' %}" alt="VK" />
                </li>
                <li class="list-inline-item">
                    <img src="{% static 'images/telegram.png' %}" alt="Telegram" />
                </li>
                <li class="list-inline-item">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube" />
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
